body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
}
.header{
    width: 100%;
    height: 75px;
    background-color: #0a0b27;
    position: fixed;
}
.header-content{
    display: flex;
    margin-left:10px ;
}
.header-content-button{
    background-color: red;
    width: 137px;
    height: 49px;
    color: white;
    border: 1px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 12px;
    font-size: 17px;
    border: 1px;
    cursor: pointer;
    margin-left: 281px;
}
.header-content-button:hover{
    background-color: #0a0b27;
    color:rgb(186, 0, 0) ;
    transition:1s ;
}
.header-text{
    color: white;
    margin-left: 41px;
    margin-top: 26px;
    cursor: pointer;
}
.header-text:hover{
    color: rgb(186, 0, 0);
    transition: 1s;
}
.header-left-logo{
    width: 123px;
    height: 27px;
    margin-top: 24px;
}
.section{
    height: 2654px;
    width: 100%;
}
.section-1{
    height: 850px;
    width: 100%;
}
.section-1-image{
    width: 100%;
    height: 100%;
}
.section-2{
    width: 100%;
    height: 950px;
    display: flex;
    color:white;
}
.section-2-left{
    width: 50%;
    height: 100%;
    background-color: black;
}
.section-2-left-box-image{
    width: 528px;
    height: 219px;
    margin-left: 87px;
    margin-top: 329px;
}
.section-2-left-box-text{
    margin-left: 145px;
    margin-top: -175px;
    font-family: "EksellDisplayWeb-Small";
    font-size: 92px;
    font-weight: bold;
}
.section-2-right{
    width: 50%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
}
.section-2-right-para{
    margin: auto;
    margin-left: 125px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.section-2-right-para-1{
    font-size: 22px;
    margin-top: 70px;
}
.section-3{
    width: 100%;
    height: 850px;
}
.section-3-image{
    width: 100%;
    height: 100%;
}
footer{
    height: 281px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
    margin-top: 21px;
}
.footer-1-box-1-para-1{
    font-size: 13px;
}
.footer-1-box-1-para-2{
    font-size: 15px;
}
footer div{
    width: 400px;
    height: 220px;
    color:white;
}
.footer-box-2-link{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.footer-box-2-link:hover{
    text-decoration: underline;
    color: red;
}


